{% extends "base.html" %}

{% block content %}

<br>
<div>
    <form class="form" action="" method="POST" name="'register">
        <h1>Registration Page</h1> <br>
        {{ form.hidden_tag() }}
            Please enter your Username:<br>
            {{ form.username(size=40) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your Password:<br>
            {{ form.password(size=40) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your First Name:<br>
            {{ form.first_name(size=40) }}<br>
            {% for error in form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            Please enter your Last Name:<br>
            {{ form.last_name(size=40) }}<br>
            {% for error in form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
        <input type="submit", value="Register">
    </form>
</div> <br>

<div>
<form class="form" name="remember_me" action="" method="POST" style="color:white">
   <input type="checkbox" name="RememberMe" value="Yes" checked> Remember Me <br>
</div>
</form>

{% endblock %}